version: '3'

services:

  postgres:
    image: postgres:17
    container_name: hospital_db
    volumes:
      - type: volume
        target: /var/lib/postgresql/dataConfig
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: alexandr
      POSTGRES_PASSWORD: krylov
    ports:
      - "5432:5432"